<nav>
  <ul>
    <li><%= link_to 'New Customer', new_customer_path %></li>
    <li><%= link_to 'All Customers', root_path %></li>
    <li><%= link_to 'Alphabetized Customers', alphabetized_path %></li>
    <li><%= link_to 'Missing Emails', missing_email_path %></li>
  </ul>
</nav>
